{% extends "index.html" %}

{% block container %}
<div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="card col-8 mt-3 mb-5">
        <div class="card-header">
          <div><h4 class="text-center">New URL Generated</h4></div>        
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <h4 class="text-center">short-li.herokuapp.com/{{short_url_display}}</h4>
          </blockquote>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div><h2 class="text-center mt-5">ALL URLS</h2></div>
{% for x in original_urls %}
{% for x in new_urls %}
<div class="container mt-4" id="urls">
<div class="row mt-2 text-center ">
    <div class="col-sm-6">
      <div class="card max-height">
        <div class="card-body">
          <h5 class="card-title">Original URL </h5>
          <p class="card-text">{{ x.original_url }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card max-height">
        <div class="card-body">
          <h5 class="card-title">New URL </h5>
          <p class="card-text">{{ x.new_url }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}
</div>
{% endblock %}