{% extends "index.html" %}
<!--All the saved URLS-->
{% block content %}
<div><h2 class="text-center mt-5">ALL URLS</h2></div>
{% for x in original_urls %}
{% for x in new_urls %}
<div class="container mt-4" id="urls">
  <div class="row mt-2 text-center ">
    <div class="col-sm-6">
      <div class="card max-height">
        <div class="card-body">
          <h5 class="card-title">Original URL </h5>
          <p class="card-text">{{ x.original_url }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card max-height">
        <div class="card-body">
          <h5 class="card-title">New URL </h5>
          <p class="card-text">{{ x.new_url }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}
</div>
{% endblock %}